body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.user-info
{
  position: relative;
}
.card-header
{

position: absolute;
    text-transform: uppercase;
    padding: 0.5rem 1rem 0 1rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
  border-radius: 4px 4px 0 0;
    background-color: #f3f3f3;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  color: #333;
  letter-spacing: 0.15rem;

}
.btn
{
  cursor:  pointer !important;
}
.loader
{
  position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  body{
    overflow-x: hidden;
  }
  .label{
    font-size: 12px ;
    text-transform: capitalize;
  }

}